body {
    margin: 0;
    background-color: #1b3764;
    font-family: "Inter";
}

nav {
    width: 100%;
    padding: 40px 0;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-container {
    display: flex;
    align-items: center;
    gap: 32px;
}

.social-icons {
    display: flex;
    gap: 10px;
}

.icon-box {
    height: 45px;
    width: 45px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav ul {
    display: flex;
    align-items: center;
    gap: 50px;
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li a,
nav ul li i {
    text-decoration: none;
    color: white;
}

.cart-icon-container {
    font-size: 22px;
    position: relative;
}

.cart-item-count {
    background-color: #ffca42;
    width: 21px;
    height: 21px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-weight: 800;
    font-size: 10px;
    position: absolute;
    top: -10px;
    right: -10px;
}

nav ul li button {
    font-size: 19px;
    padding: 12px 32px;
    font-family: "Cardo";
    background-color: #ffca42;
    border: none;
}

.section-container {
    width: 100%;
    max-width: 1300px;
    margin: auto;
}

.top-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    margin-top: 55px;
}

.top-container .welcome-text {
    display: flex;
    align-items: center;
    gap: 15px;
    font-size: 24px;
    font-family: "Cardo";
    font-weight: 100;
}

.top-container .welcome-text .wide-line {
    height: 1px;
    width: 34px;
    background-color: #ffca42;
}

.top-container h1 {
    font-size: 65px;
    font-family: "Cardo";
    line-height: 110%;
    letter-spacing: -0.02em;
    margin-top: 16px;
    margin-bottom: 32px;
}

.top-container p {
    font-size: 19px;
    color: #b4c7e7;
    line-height: 180%;
    letter-spacing: -0.01em;
}

.top-container button {
    font-size: 19px;
    font-family: "Cardo";
    line-height: 125%;
    font-weight: 700;
    color: #1b3764;
    background-color: #ffca42;
    padding: 20px 52px;
    border: none;
}

.top-container a {
    font-size: 19px;
    line-height: 125%;
    letter-spacing: 0.02em;
    font-family: "Cardo";
    color: white;
    margin-left: 40px;
    text-decoration: none;
    border-bottom: 1px solid white;
}

.stats-container {
    display: flex;
    gap: 80px;
    align-items: center;
    margin-top: 50px;
}

.stats-container h3 {
    font-family: "Cardo";
    font-size: 24px;
    line-height: 125%;
    font-weight: 700;
    letter-spacing: -0.01em;
    margin-bottom: 3px;
    margin-top: 0;
}

.stats-container p {
    font-size: 18px;
    margin: 0;
    letter-spacing: -0.01em;
    line-height: 170%;
    font-weight: 400;
    color: #b4c7e7;
}

.dot {
    height: 16px;
    width: 16px;
    background-color: #ffca42;
    border-radius: 50%;
}

.stat-box {
    display: flex;
    gap: 12px;
}

.stat-box .dot {
    margin-top: 5px;
}





.book {
    margin-bottom: 125px;
}

.page-2 {
    background-color: #f5f5f5;
    display: flex;
    flex-direction: column;
}

.page-2 .title-2 {
    display: flex;
    justify-content: center;
    margin-top: 145px;
}

.page-2 .title-2 p {
    margin: 0;
    font-size: 45px;
    font-weight: 700;
    color: #1B3764;
}

.page-2 hr {
    width: 55px;
    border: 1px solid #FFCA42;
    margin-top: 22px;
}

.page-2 .content-2 {
    display: flex;
    justify-content: center;
    margin-top: 79px;
    margin-left: 315px;
    margin-right: 315px;
    margin-bottom: 149px;
}

.page-2 .content-2 .book-2 {
    height: 396px;
    width: 292px;
}

.page-2 .content-2 p {
    margin-left: 20px;
    margin-right: 65px;
    font-size: 19px;
    font-weight: 400;
    color: #969AA0;
}

.page-2 .content-2 p:first-of-type {
    font-size: 32px;
    font-weight: 700;
    color: #1B3764;
}

.page-2 .content-2 .stats-2 {
    display: flex;
}

.page-2 .content-2 .stats-2 .stats-2-sub .sub-p {
    font-size: 24px;
}

.page-2 .content-2 button {
    margin-left: 20px;
}




.page-3 {
    background-color: #f4f8ff;
    display: flex;
}

.page-3 .img-3 {
    height: 650px;
    width: 550px;
    margin-top: 150px;
    margin-left: 296px;
    margin-bottom: 150px;
}

.page-3 .content-3 {
    margin-top: 150px;
    margin-left: 167px;
    margin-right: 310px;
}

.page-3 .content-3 .title-3 {
    font-size: 45px;
    font-weight: 700;
    color: #1b3764;
}

.page-3 .content-3 .title-3 p {
    margin: 0;
    margin-top: 45px;
}

.page-3 .content-3 hr {
    width: 55px;
    border: 1px solid #FFCA42;
    margin: 0;
    margin-top: 22px;
}

.page-3 .content-3 .text-3 {
    font-size: 19px;
    font-weight: 400;
    color: #969aa0;
}

.page-3 .content-3 .stats-3 {
    display: flex;
}

.page-3 .content-3 .stats-3 .stats-3-sub {
    padding-right: 40px;
}

.stats-3-sub p:first-of-type {
    font-size: 55px;
    font-weight: 700;
    color: 1b3764;
    margin: 0;
}

.stats-3-sub p:nth-of-type(2) {
    font-size: 18px;
    font-weight: 400;
    color: #969aa0;
}